.places {
    display: grid;
    row-gap: 80px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 92px;
    max-width: 984px;
}

@media (max-width : 1080px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width : 1023px) {
    .places {
        max-width: 720px;
        row-gap: 73px;
    }
}

@media (max-width : 767px) {
    .places {
        width: 100%;
        row-gap: 50px;
        padding-top: 64px;
    }
}