.lead__title {
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900;
}

@media (max-width : 1024px) {
  .lead__title {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 90%;
    font-size: 12.5vw;
    line-height: 110%;
  }
}

@media screen and (width: 320px) {
  .lead__title {
    width: 90%;
    margin: 0 auto;
    font-size: 40px;
    line-height: 125%;
    min-width: 288px;
  }
}