.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 100%;
  text-align: end;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 595px) {
  .footer__copyright {
    max-width: 300px;
    text-align: left;
  }
} 