.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1184px;
    padding: 0 48px 24px 48px;
}

@media screen and (max-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 595px) {
    .footer {
        flex-direction: column;
        padding-left: 16px;
    }
}